<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date of visit</th>
      <th>Pet</th>
      <th>Customer</th>
      <th>Requires reminder</th>
      <th>Reason for visit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date_of_visit %></td>
        <td><%= appointment.pet %></td>
        <td><%= appointment.customer %></td>
        <td><%= appointment.requires_reminder %></td>
        <td><%= appointment.reason_for_visit %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
<%= link_to 'Search', search_appointments_path %>
